<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- Menu -->
<div class="menu" th:fragment="leftmenu(code, menuList)">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>

        <!-- th:entry는 반복문을 돌리겠다는 뜻 ${menuList}부분이 반복이 일어난다-->
        <th:block th:each="entry : ${menuList}">
            <li class="active">
                <a th:href="${entry.url}">
                    <i class="material-icons">home</i>
                    <span th:text="${entry.title}"></span>
                </a>
            </li>
        </th:block>
    </ul>
</div>
<!-- #Menu -->